pretrained/bevdet-r50-10per/epoch_24_ema.pth filter=lfs diff=lfs merge=lfs -text
pretrained/bevdet-r50-20per/epoch_24_ema.pth filter=lfs diff=lfs merge=lfs -text
pretrained/bevdet-r50-30per/epoch_24_ema.pth filter=lfs diff=lfs merge=lfs -text
